.side-bar-cont{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.patient-info-ontainer, .download-res-cont{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 100%;
}
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.patientInfoContainer img{
    width: 205px;
}
.pInfo{
    display: flex;
    gap: 20px;
}
.icon-wrapper{
    background-color: rgb(244, 242, 242);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.pInfo p{
    margin: 5px;
}
.pInfo p:nth-child(2){
    font-weight: 700;
}
.lab-result-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}
.lab-item{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
}
.lab-item:hover{
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
}
.download-btn{
    border: none;
    background-color: transparent;
}